body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.enrolments-container
{
    position: relative;
    min-width: 600px;
}
.unenrolled-students { display: inline-block; }
.enrolled-students
{
    display: inline-block;
}
.unenrolled-student-item
{
    position: relative;
    min-width: 230px;
}
.button-enrol
{
    position: absolute;
    top: 5px;
    right: 5px;
}
.student-high-gpa { background-color: lightblue; }
.student-low-gpa { background-color: lightsalmon; }
.button-add-enrolments { margin-top: 5px; }
.missing-required-field-label
{
    padding-left: 5px;
    color: red;
}
.server-error { color: red; }
.label-result { font-size: 100%; }
.class-container { padding-top: 10px; }

