<div class="modal-header">
    <h3 class="modal-title" id="modal-title" ng-hide="classDetails.classId">Create new class</h3>
    <h3 class="modal-title" id="modal-title" ng-show="classDetails.classId">Update class details</h3>
</div>
<div class="modal-body">
    <p><input type="text" ng-model="classDetails.className" placeholder="Lesson name"/><span class="missing-required-field-label" ng-show="classNameMissing">Required</span></p>
    <p><input type="text" ng-model="classDetails.location" placeholder="Location (optional)"/></p>
    <p><input type="text" ng-model="classDetails.teacherName" placeholder="Teacher name (optional)" /></p>
    <p>Lesson type</p>
    <p>Skype<input type="radio" ng-model="vm.lessonDetails.lessonType" /></p>
    <p>Face-to-face<input type="radio" ng-model="vm.lessonDetails.lessonType" /></p>
    <p>Clinic<input type="radio" ng-model="vm.lessonDetails.lessonType" /></p>
    <span class="label label-danger label-result" ng-show="serverError">Something went wrong</span>
    <span class="label label-success label-result" ng-show="success">Update succeeded</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="createNewLesson()" ng-hide="classDetails.classId">Create</button>
    <button class="btn btn-primary" type="button" ng-click="updateLessonDetails(classDetails)" ng-show="classDetails.classId">Update</button>
    <button class="btn btn-warning" type="button" ng-click="vm.close()"><span ng-hide="classDetails.classId">Cancel</span><span ng-show="classDetails.classId">Done</span></button>
</div>